@model Bilim.DbFolder.User
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "AdminIndex";
}

<link href="~/css/aboutStud.css" rel="stylesheet">

<div class="content">
    <div class="main">
        <a href="/Admin/UserList" class="back">
            <i class="fa fa-long-arrow-left"></i>
            <span>Оқушылар</span>
        </a>
        <div class="tables">
            <div class="stud-table">
                <table>
                    <tr>
                        <th colspan="3">Оқушы туралы</th>
                    </tr>
                    <tr>
                        <th>Аты-жөні</th>
                        <th>Тел. номері</th>
                        <th>Email</th>
                    </tr>
                    <tr>
                        <td>@Model.FirstName @Model.LastName</td>
                        <td>@Model.PhoneNumber</td>
                        <td>@Model.Email</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th colspan="2">Сатып алған курстары</th>
                    </tr>
                    @if (ViewBag.UserKurses != null)
                    {
                        <tr>
                            <th>Курс аты</th>
                            <th>Пакет</th>
                        </tr>
                        foreach (var c in ViewBag.UserKurses)
                        {
                            <tr>
                                <td>@c.KursId</td>
                                <td>@c.KursId</td>
                            </tr>
                        }
                    }
                    <tr>
                        <td colspan="2" style="color:red">Басқа ешқандай курс сатып алмаған!</td>
                    </tr>
                </table>
            </div>
            <div class="dostup-table">
                <table>
                    <tr>
                        <th colspan="4">Доступ беру</th>
                    </tr>
                    <tr>
                        <th>Курс аты</th>
                        <th>Пакет1</th>
                        <th>Пакет2</th>
                    </tr>
                    <tr>
                        <td>jasndjald asdasd  af asfa faf</td>
                        <td><a href="#">Бар</a></td>
                        <td><a href="#">Жоқ</a></td>
                    </tr>
                    <tr>
                        <td>jasndjald asdasd  af asfa faf</td>
                        <td><a href="#">Жоқ</a></td>
                        <td><a href="#">Жоқ</a></td>
                    </tr>
                    <tr>
                        <td>jasndjald asdasd  af asfa faf</td>
                        <td><a href="#">Жоқ</a></td>
                        <td><a href="#">Жоқ</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>