@model Bilim.DbFolder.Kurs

@{ ViewData["Title"] = "Kurs";
    int counter = 0; }

<link href="~/css/courseView.css" rel="stylesheet">


@*<link href="~/css/index.css" rel="stylesheet">*@




<div class="swipe-menu">
    <div class="close">
        <span></span>
    </div>
    <a href="#" class="main-nav fix-active">Басты бет</a>
    <a href="#" class="teacher-nav">Спикер жайлы</a>
    <a href="#" class="about-nav">Курс жайлы</a>
    <a href="/Account/Profil" class="swipe-login">
        <span>Жеке кабинет</span>
        <i class="fa fa-user-o"></i>
    </a>
</div>
<div class="header">
    <div class="go-back">
        <i class="fa fa-arrow-left" style="color:white!important;"></i>
        <a class="go-back" href="/Home/Visitor#courses" style="color:white!important;">Курстар</a>
    </div>
    <div class="nav">
        <a href="#" class="main-nav fix-active">Басты бет</a>
        <a href="#" class="teacher-nav" style="color:white!important;">Спикер жайлы</a>
        <a href="#" class="about-nav" style="color:white!important;">Курс жайлы</a>
    </div>
    <a href="/Account/Profil" class="login">
        <span>Жеке кабинет</span>
        <i class="fa fa-user-o"></i>
    </a>
    <div class="burger">
        <span></span>
    </div>
</div>
<div class="content">
    <div id="main" class="main" style="background-image: url('/kurs/@Model.PhotoUrl')">
        <div class="main-text">
            <h2 style="color:white!important;">@Model.Name</h2>
            <p style="color:white!important;">@Model.Info</p>
            <a href="#" class="btn buy-btn" style="color:white!important;">Сатып алу</a>
        </div>
    </div>

    @* MODAL *@
    <div class="modal-screen">
        <div class="modal-bg"></div>
        <div class="modal-window">
            <div class="modal-section">
                <div class="close-mod"><span></span></div>
                <p style="color:black!important;">Бұл курсты сатып алу үшін WhatsApp нөмеріне жазыңыз.</p>
                <a href="https://wa.me/77056644647" style="color:black!important;" class="submit">Жазу</a>
            </div>
        </div>
    </div>
    @* MODAL *@

    @if (ViewBag.FreeVideos != null)
    {
        <div id="courses" class="courses">
            <h2 style="color: #2d76fa;">Тегін видео-сабақтар</h2>
            <div class="course-items">
                @foreach (var c in ViewBag.FreeVideos)
                {
                    <div class="course-item">
                        <div class="course-img">
                            <img src="/kursvideo/@c.PhotoUrl">
                        </div>
                        <div class="course-text">
                            <h2>@c.VideoName</h2>
                            <a href="/Account/Video/@Model.Id?videoId=@c.Id">Көру</a>
                        </div>
                    </div>
                }
            </div>
            <div style="padding-bottom:25px;">
                <a style="text-align: center; border-radius: 30px; padding: 15px 25px; color: white; background-color: chocolate;">Барлық сабақтар тізімі</a>
            </div>
        </div>
    }


    <div id="teacher" class="teacher">
        <div class="teacher-img">
            <img src="/kurs/@Model.AvtorImgUrl">
        </div>
        <div class="teacher-text">

            <div class="about-text">
                <h2>Самые сильные преподаватели</h2>
                <div class="about-item">
                    <span class="check-img">
                        <img src="~/visit/check-about.png" />
                    </span>
                    <div class="about-item-text">
                        <h3>Кәсіби біліктілікті арттыру палтформасы</h3>
                        <p>
                            Төменгі, орта және жоғары мектеп ұстаздарының замануи оқуыту әдістері мен жаңа технологиялық құралдарды үйрену.
                        </p>
                    </div>
                </div>
                <div class="about-item">
                    <span class="check-img">
                        <img src="~/visit/check-about.png" />
                    </span>
                    <div class="about-item-text">
                        <h3>Қазақ тіліндегі сапалы онлайн курстар</h3>
                        <p>
                            Қазақ тіліндегі сапалы онлайн курсыңызды таңдап кез-келген уақытта шеберлігіңізді арттырыңыз
                        </p>
                    </div>
                </div>
                <div class="about-item">
                    <span class="check-img">
                        <img src="~/visit/check-about.png" />
                    </span>
                    <div class="about-item-text">
                        <h3>Қосымша табыс табу мүмкіндігі</h3>
                        <p>
                            Біздің онлайн платформамызда өзіңіздің құнды тәжірибеңізбен бөлісіп, 400000 теңгеге дейін қосымша табыс табыңыз.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div id="about" class="about">
        <div class="about-course">
            <div class="course-block">
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <h2 style="color: black">КУРС КІМДЕРГЕ АРНАЛАДЫ?</h2>
                <ul>
                    <li>@Model.Kimge1</li>
                    <li>@Model.Kimge2</li>
                    <li>@Model.Kimge3</li>
                    <li>@Model.Kimge4</li>
                    <li>@Model.Kimge5</li>
                </ul>
            </div>
            <div class="course-block">
                <div class="icon">
                    <i class="fa fa-book"></i>
                </div>
                <h2 style="color: black">КУРС ҚАЛАЙ ӨТЕДІ?</h2>
                <ul>
                    <li>Курсты сатып алған соң, мұғалімнің жеке профилі ашылады. </li>
                    <li>Қажет болған жағдайда Телеграмдағы мұғаліммен сұрақ-жауап чатына қосылып, сұрақтарға жауап алуға болады</li>
                    <li>Сатып алған курстың видеосабақтарын кез-келген уақытта көріп, тапсырмаларды орындай алады.</li>
                    <li>Курсты аяқтаған соң емтихан тапсырып, сертифкат беріледі.</li>
                </ul>
            </div>
        </div>
        <div class="learn">
            <h2 style="color: black">Курс барысында сіз:</h2>
            <div class="learn-blocks">
                <div class="learn-block">
                    <div class="img-block">
                        <img src="~/img/check-icon.png">
                    </div>
                    <p>@Model.What1</p>
                </div>
                <div class="learn-block">
                    <div class="img-block">
                        <img src="~/img/check-icon.png">
                    </div>
                    <p>@Model.What2</p>
                </div>
                <div class="learn-block">
                    <div class="img-block">
                        <img src="~/img/check-icon.png">
                    </div>
                    <p>@Model.What3</p>
                </div>
            </div>
        </div>
        <div class="subject">
            <h2>Курс тақырыптары<span></span></h2>
            <ul>
                @foreach (var v in ViewBag.Videos)
                {
                    counter++;
                    <li>
                        @counter. @v.VideoName | @if (v.Free == true)
                        { <span style="color:green;">Тегін</span> }
                        else
                        {
                            <span style="color:red;">ақылы</span>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<script src="~/js/visitor.js"></script>
<script>
    $(document).ready(function () {
        $('.buy-btn').click(function (e) {
            e.preventDefault();
            $('.modal-screen').css('display', 'flex');
        })
        $('.close-mod, .modal-bg').click(function () {
            $('.modal-screen').css('display', 'none');
        })


        $(window).on('scroll', function () {
            if ($(window).scrollTop() >= $('#main').offset().top) {
                $('a.fix-active').removeClass('fix-active');
                $('.main-nav').addClass('fix-active');
            }
            if ($(window).scrollTop() >= $('#teacher').offset().top) {
                $('a.fix-active').removeClass('fix-active');
                $('.teacher-nav').addClass('fix-active');
            }
            if ($(window).scrollTop() >= $('#about').offset().top) {
                $('a.fix-active').removeClass('fix-active');
                $('.about-nav').addClass('fix-active');
            }
            if ($(window).scrollTop() >= $('.packages').offset().top - 100) {
                $('a.fix-active').removeClass('fix-active');
                $('.packages-nav').addClass('fix-active');
            }
        });
    })
</script>